//fonts
$mont: 'Montserrat', sans-serif;

//colors
$white: #ffffff;
$black: #000;
$primary: #074605;
$secondary: #0E8045;
$third: #88A7AD;
$darkBackground: #082C23;
$darkTextColor: #161817;


// transition to animations
$trans: .3s ease;
